<?xml version="1.0"?>
<launch>
	<!-- rosserial_node -->
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" type="string" value="/dev/ttyACM0" />
		<param name="baud" type="int"    value="57600"        />
	</node>

	<node pkg="jps_gripper" type="test_gripper" name="test_gripper_node" output="screen" />
</launch>
